

.fotorama__nav__frame .fotorama__active .fotorama__dot{ 
    width: 10px !important;
    height: 10px !important;
    border-width: 3px !important;
    background-color: #000 !important;     
}


#jivo-label {display:none; !important}
