.navMenu {
  height: 100px;
  padding: 35px 0;
  display: block;
  float: left;
  ul {
    li{
      display: inline-block;
      line-height: 30px;
      padding: 0 15px;
      a {
        color: #FFF;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

}