.navline {
	width: 100%;
	height: 45px;
	background-color: #4195D7;
	color: #fff;
	&__bg {
		background-color: #268BDA;
		position: absolute;
		display: block;
		width: 50%;
		height: 45px;
		right: 0;
		z-index: 0;
	}
	&__contain {
		background-color: #268bda;
		display: block;
		line-height: 45px;
		margin-left: 300px;
		padding: 0 20px;
	}
}