.recipes {		
	width: 100%;
	display: inline-block;
	&__block {
		width: 100%;
		padding: 0;
		display: inline-block;
		position: relative;
		margin: 25px 0;
		border: 3px solid #E9F1F6;
		&__thumb {
			width: 605px;
			display: block;
			float: left;
			overflow: hidden;
			img {
				width: auto;
				height: 395px;
				overflow: hidden;
			}			
			
		}
		&__content {
			display: block;
			float: left;
			width: 385px;
			padding-left: 25px;
			h2 {
				color: #23455b;
				font-size: 23px;
				font-weight: bold;
				text-transform: uppercase;
			}
			.toRecipe {
				display: block;
				width: 282px;
				height: 50px;
				line-height: 50px;
				text-align: center;
				text-decoration: none;
				margin-top: 70px;
				margin-bottom: 15px;
				background-color: #21c12f;
				color: #FFF;
				font-size: 20px;
			}

			&__info {
				width: 342px;
				height: 95px;
				background-color: #e9f1f5;
				display: inline-block;
				line-height: 95px;
				padding: 0 10px;
				p {
					display: inline-block;
					width: 49%;
					line-height: normal;
					vertical-align: middle;
					padding-left: 5px;
					i {
						display: inline-block;
						width: 26px;
						height: 25px;
						margin-right: 10px;
						float: left;
						margin-top: 5px;
					}
					.recipesTime {
						background-image: url('../img/reciep.png');
						background-repeat: no-repeat;
					}

					.recipesPers {
						background-image: url('../img/recipPers.png');
						background-repeat: no-repeat;
					}
					small {
						font-size: 9px;
						display: block;
					}
				}
			}			
		}

	}
}

.recipes__block__content__single {
	@extend .recipes__block__content;
	width: 330px;
	display: block;
	float: left;
	h2 {
		font-size: 22px;
		margin-bottom: 25px;
	}
}

.recipes__block__thumb__single {	
	@extend .recipes__block__thumb__single;
	width: 575px;
	display: block;
	float: left;
	img {
		max-width: 575px;
	}
}

.recipes__text {
	display: block;
	float: left;
	margin: 25px 0;
	article {
		width: 375 / 610 * 100%;
		display: block;
		float: left;
	ol {
			margin-left: 25px;
			list-style-type: none;
			list-style: none;
     
			counter-reset: li-counter;
			li {
				padding-left: 20px;
				position: relative;
				padding-bottom: 15px;				
				&:before{
					position: absolute;
					top: 0;
					left: -20px;
					width: 25px;
					height: 25px;
					 
					font-size: 14px;
					
					text-align: center;
					color: #23455b;

					border: 1px solid #23455b;
					border-radius: 50%;
					
					content: counter(li-counter);
					counter-increment: li-counter;
				}
			}

		}
	}
	aside {
		width: 334px;
		background-color: #e9f1f5;
		margin-left: 25px;
		padding: 25px;
		display: block;
		float: left;
		p {
			color: #23455b;
			font-size: 15px;
		}
		h3 {
			color: #23455b;
			font-size: 20px;
			font-weight: bold;
		}

	}
}
				
				
			